.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
  padding-top: 20px;
  padding-left: 20px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.login {
  padding: 10px;
  cursor: pointer;
}
.search {
  padding: 20px;
}
.res-container {
  display: flex;

  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  padding: 10px;
  background-color: beige;
  margin: 10px;
}

.res-card:hover {
  cursor: pointer;
  border: 3px double red;
  border-radius: 5px;
}
.res-card > img {
  width: 180px;
  padding: 10px;
}
.res-card > h3 {
  padding: 5px;
}
.res-card > span {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  position: fixed;

  bottom: 0; /* Positions the element at the very bottom of the viewport */
  left: 0; /* Aligns the element to the left edge of the viewport */
  width: 100%; /* Makes the element span the full width of the viewport */
  padding: 10px; /* Example padding */
  text-align: center; /* Example text alignment */
  z-index: 1000; /* Ensures the footer appears on top of other content */
}
.footer > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.footer > ul > li {
  padding: 10px;
  margin: 10px;
}

.filter-btn {
  margin: 10px;
}

.shimmer-container {
  display: flex;

  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  padding: 10px;
  background-color: #f0f0ff;
  margin: 10px;
}

.filter {
  display: flex;
}
